    {% include './partials/header.html' %}

    {% include './partials/nav.html' %}

    <div class='jumbotron'>
      <div class='containter'>
        <h1>Voting App</h1>
        <p>
          Make your votes count!
        </p>
      </div>
    </div>
    <div class="container-fluid cards">
      <div class='row'>
        <div class='col-sm-4 grouping'>
          <h4 class='heading'>{{ heading }}</h4>
          <p>
            Random things to type here. Because random is randomly occuring. Hey! Macarena!
          </p>
        </div>
        <div class='col-sm-4 grouping'>
          <h4 class='heading'>{{ heading }}</h4>
          <p>
            Random things to type here. Because random is randomly occuring. Hey! Macarena!
          </p>
        </div>
        <div class='col-sm-4 grouping'>
          <h4 class='heading'>{{ heading }}</h4>
          <p>
            Random things to type here. Because random is randomly occuring. Hey! Macarena!
          </p>
        </div>
      </div>
    </div>

    {% include './partials/footer.html' %}
