<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Voting App</title>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
    <link rel='stylesheet' href='/style.css' />
  </head>
  <body>
    <div class='jumbotron'>
      <div class='containter'>
        <h1>Voting App</h1>
        <p>
          Make your votes count!
        </p>
      </div>
    </div>
    <div class="container-fluid cards">
      <div class='row'>
        <div class='col-sm-4 grouping'>
          <h4 class='heading'>{{ heading }}</h4>
          <p>
            Random things to type here. Because random is randomly occuring. Hey! Macarena!
          </p>
        </div>
        <div class='col-sm-4 grouping'>
          <h4 class='heading'>{{ heading }}</h4>
          <p>
            Random things to type here. Because random is randomly occuring. Hey! Macarena!
          </p>
        </div>
        <div class='col-sm-4 grouping'>
          <h4 class='heading'>{{ heading }}</h4>
          <p>
            Random things to type here. Because random is randomly occuring. Hey! Macarena!
          </p>
        </div>
      </div>
    </div>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
     <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  </body>
</html>
