    {% include './partials/header.html' %}

    {% include './partials/nav.html' %}

    <div class='jumbotron'>
      <div class='containter'>
        <h1>Voting App</h1>
        <p>
          Make your votes count!
        </p>
      </div>
    </div>
    <div class="container-fluid">
      <div class="row">
        <div class="col-sm-12">
          <h2 class='text-center'>Polls that need your votes:</h2>
        </div>
      </div>
      <ul class='list-group'>
        {% for doc in docs %}
        <li class='list-group-item'><a href={{ doc.link }}>{{ doc.heading }}</a></li>
        {% endfor %}
      </ul>
    </div>

    {% include './partials/footer.html' %}
